 <div id="preloder" xmlns="http://www.thymeleaf.org">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    <div class="humberger__menu__overlay"></div>
    <!-- Humberger End -->

    <!-- Header Section Begin -->
    <header class="header" >
        <div class="header__top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="header__top__left">
                            <ul>
                                <li><i class="fa fa-envelope"></i> <a th:if="${#request.remoteUser}">WellCome : [[${#request.remoteUser}]] </a></li>
                              
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="header__top__right">
                            <div class="header__top__right__social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                            </div>
                            <div class="header__top__right__language">
                                <img src="/img/language.png" alt="">
                                <div>English</div>
                                <span class="arrow_carrot-down"></span>
                                <ul>
                                    <li><a href="#">Spanis</a></li>
                                    <li><a href="#">English</a></li>
                                </ul>
                            </div>
                          <div class="header__top__right__auth">
                             <a th:href="@{/security/login/form}"><i class="fa fa-user"></i> Login</a>
                         </div>
                    <!--    <th:bock th:unless="${#request.remoteUser}">     </th:bock> -->
                          <div class="header__top__right__auth">|</div>
                         <div class="header__top__right__auth">
                             <a th:href="@{/security/logoff}"><i class="fas fa-sign-out-alt"></i>Logout</a>
                         </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <div class="container">
         <div class="row">
             <div class="col-lg-3">
                 <div class="header__logo">
                     <a th:href="@{/}"><img src="/img/logo.png" alt=""></a>
                 </div>
             </div>
             <div class="col-lg-6">
                 <nav class="header__menu">
                     <ul>
                         <li class="active"><a  th:href="@{/product/list}">Home</a></li>
                         <li><a href="./shop-grid.html">Shop</a></li>
                         <li><a href="#">Pages</a>
                          
                         </li>
                        <li><a th:href="@{/order/list}">Your Cart</a></li>
                         
                           <th:bock th:if="${#request.remoteUser}">  
                           
                      <li th:if="${#request.isUserInRole('DIRE') or #request.isUserInRole('STAF')}">
                         <a th:href="@{/admin/home/index}">Admin</a>
                        </li>
                         
                          </th:bock>
                     </ul>
                 </nav>
             </div>
             <div class="col-lg-3">
                 <div class="header__cart">
                     <ul>
                         <li><a href="#"><i class="fa fa-heart"></i> <span>1</span></a></li>
                         <li><a th:href="@{/cart/view}"><i class="fa fa-shopping-bag"></i> <span>{{cart.count}}</span></a></li>
                     </ul>
                     <div class="header__cart__price">item: <span>${{cart.amount|number:2}}</span></div>
                 </div>
             </div>
         </div>
         <div class="humberger__open">
             <i class="fa fa-bars"></i>
         </div>
     </div>
    </header>
    <!-- Header Section End -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Hero Section Begin -->
